<div class="bg">
    <h6>Nuestro objetivo es ayudar tanto a los ecoturistas a econtrar sitios de interés desconocidos,
    como a los pobladores de estas zonas a obtener mejores ingresos y a contar su historia</h6>
    <div class="list">
      <h6>Colombia Adentro ofrece:</h6>
      <ol>
        <li>Historias de pobladores y de lugares aislados</li>
        <li>Mapas y fotos de destinos desconocidos</li>
        <li>Instrucciones específicas de cómo llegar a estos sitios</li>
        <li>Posibilidades de estadía</li>      
      </ol>
    </div>
    <div class="conoce" routerLink="/destinos">
        <h6>Conoce Nustros Sitios</h6>
    </div>
  </div>
